.retrace-editor__wrapper {
    position: absolute;
    bottom: 3px;
    right: 0;

    z-index: 10;

    background-color: transparent;
    width: 50vw;
    height: 80vh;

    transition: opacity 0.3s ease-out;
    opacity: 0.5;
    &:hover {
        opacity: 0.9;
    }

    &--hidden {
        display: none;
    }

    #retrace-editor {
        position: relative;
        width: 50vw;
        height: 80vh;

        filter: grayscale(100%);
    }
}

.retrace-editor__error {
    position: absolute;
    bottom: 3px;
    right: 0;

    width: 50vw;
    height: 100px;
    overflow-y: scroll;

    z-index: 4;

    padding: 20px;
    background-color: rgba(200, 0, 0, 0.8);
    color: white;
    text-align: left;

    transition: opacity 0.3s ease-out;
    opacity: 0.5;

    .retrace-editor__wrapper:hover + & {
        opacity: 1;
    }
}
