html, body {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    background-color: white;

    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: lighter;
}

canvas#gl-canvas {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.7);
    // transform: translate3d(-50%, -50%, 0) scale(1);
}
