.render-mode-controls {
    label {
        margin-right: 10px;
    }

    select {
        background-color: transparent;
        box-sizing: border-box;
        margin: 0;

        width: 65px;
        padding: 2px 5px 2px 5px;

        outline-color: red;
        border: 1px solid white;
        border-radius: 0;
        color: white;

        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }

    button {
        background: transparent;
        margin-left: 5px;
        color: white;
        text-decoration: underline;
        border: none;
        cursor: pointer;

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}
